env=dev

spring.http.multipart.max-file-size=5MB
spring.http.multipart.max-request-size=5MB

security.user.name=imarket-login
security.user.password=imarket-password
security.cookie.name=authorization_cookie

db.url=jdbc:mysql://localhost:3306/imarket
db.username=root
db.password=
db.driver=com.mysql.jdbc.Driver

hibernate.show_sql=false

cloud.auth.json.name=imarket-gcloud.json
cloud.bucket.images=images.imarketbr.com